.root{
    -fx-font-size: 14pt;
    -fx-font-family: "serif";
	-fx-base: rgb(85, 171, 85);
    -fx-background: rgb(90, 177, 90);
	-fx-background-repeat: stretch;
	-fx-background-size: 1024 768;
	-fx-background-image: url(../img/bg.jpg);
	-fx-focus-color: #808080;
}
/* Might be used for some type of bordering...
#largetextbox {
	-fx-border-color: black;
	-fx-border-style: solid;
}
*/

#image {
	-fx-padding: 10;
	-fx-background-color: rgba(255, 255, 255, 0.5);
	-fx-background-radius: 5;
}

#titles {
	-fx-font-size: 18pt;
	-fx-font-family: "serif";
}
